.button-elem{
    border-radius: 8px / 10px;
    color: #000000;
    background-color: #FFFFFF;
    white-space: nowrap;
}

.button-elem:hover {
    color: #000000;
    background-color: #F4F7FA;
}

.button-elem:active {
    color: #FFFFFF;
    background-color: #000000;
}