body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}

* {
    box-sizing: border-box;
}

.body {
    padding-top: 160px;
    height: 100%;
    width: 100%;
}

.content-container {
    width: max-content;
    margin: 0 auto;
}

.content-container__logo {
    width: fit-content;
    margin: 0 auto 135px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    grid-template-rows: repeat(2, auto);
    grid-gap: 16px;
}

@media screen and (max-width: 1200px) {
    .gallery {
        grid-template-columns: repeat(3, max-content);
    }
}

@media screen and (max-width: 800px)
{
    .gallery {
        grid-template-columns: 100%;
    }
}