* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 8px;
    width: 100%;
    height: 100%;
    background-color: black;
}

.img-wrapper_sticky {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 120px;
    height: 40px;
    background-color: black;
    /* center SONY img */
    text-align: center;
    line-height: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.catalog-body {
    background-color: #0060d1;
    border-radius: 20px;
    padding: 0;
}

.header-line {
    height: 96px;
    padding: 32px 40px 0 52px;
    position: relative;
}

.header-line__playstation-logo-img {
    width: 42px;
    height: 32px;
    float: left;
}

.header-line__user-acc {
    float: right;
    padding: 4px;
}

.header-line__user-img {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    float: left;
}

.header-line__user-name {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

/* Todo меню, выпадающее по нажатию на двойную стрелку вниз
    стрелка должна после этого сменить направление*/
.header-line__dropdown-menu-block {
    display: none;
}

.header-line__dropdown-button-wrapper {
    position: absolute;
    left: 50%;
    top: 46px;
    transform: translate(-50%, 0);
    width: 24px;
    height: 24px;
    padding: 5px 6px;
}

/* Todo fix icon sizes */
.header-line__dropdown-button {
    color: white;
}