/* Wrapper for content after nav */
.catalog-content {
    clear: both;
    padding: 21px 4px 0; /* 32 - 28 = 4px left/right */
}

.catalog-content__header {
    float: left;
    margin-left: 12px; /* 44 - 32 */
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;

}

.catalog-content__sort {
    position: relative;
    float: right;
    display: block;
    margin-right: 12px;
    margin-top: 45px;
    height: 32px;
    background-color: #FFFFFF;
}

.catalog-content__sort-elem {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    height: 32px;
    text-align: left;
    padding: 8px;
    border: none;
}

.catalog-content__sort-button {
    background-color: inherit;
    border: none;
    font-size: 16px;
    line-height: 16px;
    width: 16px;
    height: 32px;
}

.catalog-content__sort-content {
    position: absolute;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    padding: 12px;
    background-color: #FFFFFF;
}

.catalog-content__sort-elem-content { /* face elem don't take 100% */
    width: 100%;
}

.catalog-content__filter-panel {
    clear: both;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 16px;
    height: 48px;
    border: 1px solid #E7ECF1;
    border-radius: 8px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: start;
}

.catalog-content__single-filter {
    /* позиционирование внутри блока фильтров */
    position: relative;
    width: fit-content;
    height: 100%;
    border-right: inherit;
    padding: 8px 16px;
}

.catalog-content__filter-elem-checkbox {
    position: absolute; /* real check is hidden */
    opacity: 0;
    width: 16px;
    height: 16px;

}

.catalog-content__filter-elem-checkbox:checked + .catalog-content__filter-elem-label::before {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.catalog-content__filter-elem-label::before {
    content: '';
    display: block;
    float: left;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 6px;
    border: none;
    background-color: #E7ECF1;
}

.catalog-content__filter-elem-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    border: none;
    overflow: hidden;
    height: 16px;
}

.catalog-content_button-block {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 16px;
    height: 100%;
}

.catalog-content__filter-button {
    border: 1px solid #E7ECF1;
    padding: 8px 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    width: fit-content;
}

.catalog-content_small-vertical-line {
    height: 16px;
    width: 1px;
    border-right: 1px solid #E7ECF1;
    margin-top: 16px;
}

.catalog-content__filter-items {
    width: 100%;
    text-align: right;
    padding-top: 17px;
    padding-right: 14px;
    padding-bottom: 17px;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #91969B;
}

.catalog-content__tags-panel {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 4px;
}

.catalog-content__single-tag {
    padding: 8px 8px 8px 12px;
    background-color: #F4F7FA;
    border-radius: 8px;

}

.catalog-content__single-tag-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    color: #91969B;
}

.catalog-content__single-tag-button {
    width: 14px;
    height: 14px;
    font-size: 14px;
    line-height: 14px;
    background-color: inherit;
    color: #91969B;
    border: none;
}

.catalog-content__clean-tags-button {
    padding: 8px 8px 8px 12px;
    background-color: inherit;
    border: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #91969B;
}

.catalog-content__gallery {
    /* padding 32 is done with main-section (28px) and catalog-content (4px) */
    margin-bottom: 24px;
}

.catalog-content__pagination {
    margin-right: 12px;
    margin-left: 12px;
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
    justify-content: space-between;
}

.catalog-content__pagination-button {
    display: block;
    width: 48px;
    height: 48px;
    border: 1px solid #E7ECF1;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
}

.catalog-content__pagination-button_big {
    flex-grow: 2; /* will take full free space */
}

.catalog-content__pagination-button_chosen{
    border: none;
    background-color: #F4F7FA;
}

/* variables for grid */
:root {
    --columns-max-width_width: 16%;
    --columns-max-width_count: 6;
    --columns-max-width_gap: 0.8%;
    --columns-medium-width_width: 32%;
    --columns-medium-width_count: 3;
    --columns-medium-width_gap: 2%;
    --columns-min-width_width: 100%;
    --columns-min-width_gap: 0.5%;
}