* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 8px;
    width: 100%;
    height: auto;
    background-color: black;
}

.img-wrapper_sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    margin: auto;
    width: 120px;
    height: 40px;
    background-color: black;
    /* center SONY img */
    text-align: center;
    line-height: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.catalog-body {
    background-color: #0060d1;
    border-radius: 20px;
    padding: 0 8px 8px 8px;
}

/* header */
.header-line__wrapper_sticky {
    --sticky-top: 0;
    margin: 0 -8px 0;
    background-color: black;
}

.header-line {
    height: 96px;
    padding: 32px 40px 0 52px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #0060d1;
}

.header-line__playstation-logo-img {
    width: 42px;
    height: 32px;
    float: left;
}

.header-line__user-acc {
    float: right;
    padding: 4px;
}

.header-line__user-img {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    float: left;
}

.header-line__user-name {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

/* Todo меню, выпадающее по нажатию на двойную стрелку вниз
    стрелка должна после этого сменить направление*/
.header-line__dropdown-menu-block {
    display: none;
}

.header-line__dropdown-button {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 46px;
    width: 24px;
    height: 24px;
    padding: 5px 6px;
    border: none;
    background-color: transparent;
}

/* Todo fix icon sizes */
.header-line__dropdown-icon {
    color: white;
}

/* main */
.main-section {
    background-color: #FFFFFF;
    padding: 0 28px 80px;
    border-radius: 20px;
}

.nav-line__wrapper_sticky {
    --sticky-top: 96px;
    margin: 0 -28px 0;
    background-color: #0060d1;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.26);
}

.nav-line {
    padding: 35px 44px 16px; /* 16 + 28, because of negative margin */
    height: 91px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #FFFFFF;
}

.nav-line__store-logo {
    float: left;
    margin-top: -2px; /* fit img text to navigation bar text */
    margin-right: 24px;
    width: 184px;
    height: 40px;
}

.nav-line__store-bag {
    float: left;
    width: 35px;
    height: 39px;
    margin-right: 5px;
}

.nav-line__store-text {
    width: 144px;
    height: 39px;
}

.nav-line__navigation-bar {
    margin-right: 41px;
    float: left;
    display: flex;
    gap: 8px;
}

.nav-line__navigation_elem {
    padding: 12px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
}


.nav-line__search-panel {
    float: right;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #F4F7FA;
}

.nav-line__search-button {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 2px;
    margin-right: 10px;
    border: none;
    background-color: transparent;
}

.nav-line__search-icon {
    font-size: 20px;
    line-height: 20px;
    color: #91969B;
}

.nav-line__search-input {
    display: inline-block;
    background-color: transparent;
    border: none;
    width: 200px;
}

.nav-line__search-input:focus {
    width: 250px;
    transition: width 0.5s;
    outline: none;
}

.footer-section {
    padding: 80px 56px 64px 44px; /* right/bottom/left, : 72/80/60 - 8(back) - 8 (blue padding) */

}

.footer-section * {
    display: block;
}

.footer-section__content-wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 224px;
    /*background-color: red;/**/
}

.footer-section__playstation-logo-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 83px;
    height: 60px;
}

.footer-section__links-block {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-flow: row nowrap;
    gap: 68px; /* cheat: not all are 68px */
}

.footer-section__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-section__link:hover {
    color: dodgerblue;
}

.footer-section__geolocation-block {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    gap: 12px;
}

.footer-section__playstation-earth-img {
    width: 24px;
    height: 24px;
}

.footer-section__region-link {
    display: flex;
    flex-flow: row nowrap;
    gap: 22px;
    margin-top: 4px;/*(24px(img height) - 16px(text height))/2*/
    line-height: 16px;
    /* настройки ссылки: убрать подчеркивание изменить цвет текста + задать все размеры */
}

.sticky-elem {
    position: sticky;
    top: var(--sticky-top);
    z-index: 2;
}