body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}

* {
    box-sizing: border-box;
}

.body {
    padding-top: 160px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    width: 100%;
}

.content-container {
    width: 100%;
    margin: 0 auto;
}

.content-container__logo {
    width: fit-content;
    margin: 0 auto 60px; /* after add button. without button 135px */
}

.content-container__button-to-main-page{
    display: block;
    width: 100%;
    height: 40px;
    margin: 0 auto 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    border-radius: 10px;
}
/*button width+ 35 + 80 = 135*/

/* variables for grid */
:root {
    --columns-max-width_width: 19%;
    --columns-max-width_count: 5;
    --columns-max-width_gap: 1.2%;
    --columns-medium-width_width: 32%;
    --columns-medium-width_count: 3;
    --columns-medium-width_gap: 2%;
    --columns-min-width_width: 100%;
    --columns-min-width_gap: 0.3%;
}
